html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100vw;
}

#controls {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 90vw;
    width: 400px;
    
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 16px;
    border-radius: 8px;
    z-index: 1000;
}

#timeSlider {
    width: 100%;
}

#timeLabel {
    margin-top: 8px;
    font-size: 16px;
}
